<div class="col-md-4">
<h3> Past Events </h3>
  <% @events.past.each do |e| %>
   <p><%= link_to e.title, e %></p>
    <p><%= e.description %></p>
    <p><%= e.date %></p>
    <p><%= "Created By: #{e.creator.name}" %>
    <p> Attended By: 
      <% e.attendees.each do |att| %>
        <%= link_to att.name, att %>
      <% end %>
    </p>
    <hr>
  <% end %>
</div>